@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


@import url(./home-css/navigation_CSS_home.css);

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-grey-color:#666;
    --white:#fff;
    --body-background-color:#eee;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body{
  background: var(--body-background-color);
}

section{
  padding:2rem 0;
}

/* button */

.primary-button{
  margin-top: 1rem;
  display: inline-block;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  color:var(--black);
  cursor: pointer;
  background: none;
}

.primary-button:hover{
  background: var(--orange);
  color:var(--white);
}

/* Home Banner section */
.home-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/banner.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
}

.home-banner .banner-content{
  text-align: center;
  width:60rem;
}

.home-banner .banner-content h3{
  color:var(--black);
  font-size: 3rem;
}

.home-banner .banner-content h3 span{
  color:var(--orange);
}

.home-banner .banner-content p{
  color:var(--black);
  font-size: 1.7rem;
  padding:1rem 0;
  line-height: 1.8;
}
















/* media queries  */

@media (max-width:991px){

  html{
      font-size: 8px;
  }

  .comp-header{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: inline-block;
  }

  .comp-header .search-form{
      width:90%;
  }

  .comp-header .navbar-comp{
      position: absolute;
      top:110%; right: -110%;
      width:30rem;
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      border-radius: 0.5rem;
      background: #fff;

  }

  .comp-header .navbar-comp.active{
    right:2rem;
    transition: .4s linear;
  }

  .comp-header .navbar-comp a{
      font-size: 2rem;
      margin:2rem 2.5rem;
      display: block;
  }

}

@media (max-width:450px){

  html{
      font-size: 7px;
  }

}
