.about {
    display: flex;
    margin: 4rem;
}
  
.about .image img {
    margin: 1rem 2rem;
    width: 90%;
}
    
.about .content span {
    color: var(--orange);
    font-size: 2.5rem;
  }
  
.about .content h3 {
    color: var(--black);
    font-size: 3rem;
    padding-top: .5rem;
  }
  
.about .content p {
    color: var(--light-grey-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
  }